.button {
  width: 135px;
  height: 45px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: $main-color;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  border: none;
}