.resume {
  padding-top: 120px;
  &__subtitle {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 425px);
    padding: 60px 65px 0;
    gap: 135px;
  }
  &__column {
    &-title {
      position: relative;
      padding-left: 43px;
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -7px;
        width: 15px;
        height: 15px;
        background-color: $main-color;
        border-radius: 100%;
      }
    }
    ul {
      list-style: none;
      li {
        position: relative;
        &::after {
          content: '';
          width: 1px;
          height: calc(100% + 5px);
          position: absolute;
          top: -8px;
          left: 0;
          background-color: #000;
        }
      }
    }
  }
  &__item {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 64px;
      height: 1px;
      width: 43px;
      background-color: #000;
    }
    &-head {
      position: relative;
      padding: 45px 0 0 100px;
    }
    &-icon {
      position: absolute;
      top: 55px;
      left: 43px;
      @include before_circle;
      img {
        padding: 5px 0 0 16px;
      }
    }
    &-title {
      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
    }
    &-subtitle {
      color: #000;
      font-size: 12px;
      line-height: 18px;
    }
    &-body {
      margin-top: 12px;
      padding-left: 43px;
      color: #000;
      font-size: 12px;
      line-height: 18px;
    }
  }
}