.title {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.subtitle {
  position: relative;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  z-index: 2;
  @include before_circle;
  text-align: center;
}
.section-subtitle {
  &::before {
      left: 50%;
      transform: translateX(-50%);
    }
}
.subtitle-left, .title-left{
  text-align: left;
}