@import 'libs/fonts';
@import 'base/variables';
@import 'base/mixins';

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}
ol[role="list"],
ul[role="list"] {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    display: block;
    max-inline-size: 100%;
}  
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: auto;
}

@import 'block/title';
@import 'block/button';
@import 'block/promo';
@import 'block/sidepenal';
@import 'block/menu';
@import 'block/diliver';
@import 'block/about';

